.main-body {
  overflow: hidden;
  background-color: #fcfcfc;
  font-family: "Roboto", sans-serif;
}
.main-nav {
  background-color: #373f47;
}

.logo {
  height: 46px;
  margin-top: 5px;
}
h1 {
  font-size: 30px;
  text-align: center;
}

.categories {
  display: flex;
  overflow-x: scroll;
  height: 100px;
}

.categories-item {
  box-shadow: 0 1px 2px 0 rgba(55, 63, 71, 0.2),
    0 2px 6px 0 rgba(55, 63, 71, 0.19);
  border-radius: 5px;
  margin: 0 10px;
  padding: 30px;
  width: 300px;
  white-space: nowrap;
  box-sizing: content-box;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e6e6e6;
}

.categories-item:active {
  color: #b71c22;
  font-weight: 1200;
  border: 2px solid #b71c22;
  background-color: #fcfcfc;
}

.categories-item-content {
  line-height: 30px;
}
