.main-body {
  overflow: hidden;
  background-color: #fcfcfc;
  font-family: "Roboto", sans-serif;
  height: 2000px;
}

#side-nav {
  z-index: 99999 !important;
}

.main-nav {
  background-color: #373f47;
}

.main-nav-search {
  background-color: #fcfcfc;
  color: #373f47;
}

.main-nav-search .material-icons {
  color: rgba(55, 63, 71, 0.7);
}

.logo {
  height: 46px;
  margin-top: 5px;
}
h1 {
  font-size: 30px;
  text-align: center;
}

.categories-row {
  overflow: hidden !important;
}

.categories {
  display: flex;
  overflow-x: scroll;
  height: 100px;
}

::-webkit-scrollbar {
  display: none;
}

.categories-item {
  box-shadow: 0 1px 2px 0 rgba(55, 63, 71, 0.2),
    0 2px 6px 0 rgba(55, 63, 71, 0.19);
  border-radius: 5px;
  margin: 0 10px;
  padding: 30px;
  width: 300px;
  white-space: nowrap;
  box-sizing: content-box;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e6e6e6;
}

.active {
  color: #b71c22;
  font-weight: 1200;
  border: 2px solid #b71c22;
  background-color: #fcfcfc;
}

.categories-item span {
  pointer-events: none;
}
