.jobs-body {
  overflow: hidden;
  background-color: #fcfcfc;
  font-family: "Roboto", sans-serif;
  color: #373f47;
}

.jobs-body h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

#side-nav {
  z-index: 99999 !important;
}

.jobs-nav {
  background-color: #373f47;
}

.search-bar {
  background-color: #fff;
}

.search-icons {
  color: #373f47 !important;
}

.logo {
  height: 46px;
  margin-top: 5px;
}

.categories {
  display: flex;
  overflow-x: scroll;
  height: auto;
  width: auto;
  padding-left: 20px;
  align-items: center;
  text-align: center;
}

.categories-item {
  box-shadow: 0 1px 2px 0 rgba(55, 63, 71, 0.2),
    0 2px 6px 0 rgba(55, 63, 71, 0.19);
  border-radius: 5px;
  margin-right: 20px;
  padding: 15px 30px;
  white-space: nowrap;
  box-sizing: content-box;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e6e6e6;
}

.category-active {
  color: #b71c22;
  font-weight: 900;
  border: 2px solid #b71c22;
  background-color: #fff;
  zoom: 1.2;
}

.categories-item span {
  pointer-events: none;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category-card {
  background-color: #373f47;
  font-size: 13px;
  text-align: center;
  color: #fcfcfc;
}

.category-card button {
  background-color: #b71c22;
}

.card-description {
  text-align: left;
}

.main-footer {
  background-color: #b71c22;
  color: #fcfcfc;
  text-align: center;
}

.main-footer ul {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
